$orange:#ff8800;
.menber-center-contain{
	width:100%;
	min-width: 1200px;
	padding-top: 28px;
	padding-bottom:37px;
	.menber-center-main{
		margin:0 auto;
		width:1200px;
		height:auto;
		.menber-center-right{
			.vip-level-contain{
				width:100%;
				height:auto;
				border-bottom:1px solid #e5e5e5;
				.vip-level-space{
					width:100%;
					height:20px;
					border-bottom:1px solid #e5e5e5;
				}
				.vip-detail-contain{
					width:830px;
					padding:40px;
					.vip-pic{
						float:left;
						width:90px;
						height:90px;
						border-radius:50%;
						background: #cfc;
						margin-right: 20px;
					}
					.vip-text{
						float:left;
						padding-top: 10px;
						font-size:14px;
						color:#4c4c4c;
						.vip-text-top{
							line-height: 30px;
							.orange-font{
								color:$orange;
							}
						}
						.vip-text-bottom{
							line-height: 43px;
							.vip-times{
								margin-right: 15px;
							}
							.orange-font{
								color:$orange;
							}
						}
					}
				}
				#container{
					margin:0 auto;
					width: 800px; 
					height: 370px;
				}
			}
			.menber-center-right-contain{
				.notices-text{
					.vip-all-level-pic{
						width:100%;
						height:48px;
						background: url('../../image/vip-level-pic.png') no-repeat;
						background-size: 100%;
						background-position: center;
					}
					.vip-all-level-text{
						width:100%;
						height:54px;
						.vip-all-level-font{
							text-align: center;
							width:130px;
							float:left;
							height:54px;
							&,*{
								color:#000;
								font-size: 14px;
							}
						}
					}
					p{
						font-size: 14px;
					}
					.notices-text-padding{
						padding:10px 0;
					}
				}
				.level-descript-table{
					width:100%;
					height: 178px;
					background: #e5e5e5;
					text-align: center;
					thead{
						color:#4c4c4c;
						font-size: 14px;
						background: #eeeeee;
						tr{
							height:38px;
						}
					}
					tbody{
						color:#000;
						font-size: 14px;
						background: #fff;
						tr{
							height:68px;
						}
					}
					td{
						width:110px;
					}
					td:first-child{
						width:141px;
					}
				}
				h3{
					padding:20px 0 20px 30px;
 				}
				.menber-vip-notices{
					font-size: 14px;
					padding:16px 0;
					margin-bottom: 224px;
				}
			}
		}
	}
}