.wupin-list{
	width:100%;
	height:auto;
	margin-bottom: 20px;
	td{
		vertical-align: top;
	}
	tr>td:last-child{
		.wupin-box{
			margin-right:0;
		}
	}
	.wupin-box{
		float:left;
		width:190px;
		height:250px;
		padding:10px 10px 0 10px;
		border: 1px solid #ddd;
		margin:0 27px 30px 0;
		&>*{
			padding:2px 0;
		}
		img{
			width:188px;
			height:150px;
			padding:0;
			margin: 0;
		}
		.wupin-name{
			font-size: 18px;
			color:#e51c23;
		}
		.wupin-content{
			font-size: 14px;
			color:#000;
		}
		a.tooltip {outline:none;font-size: 14px;
			color:#4fc3f7; }
		a.tooltip strong {line-height:30px;}
		a.tooltip:hover {text-decoration:none;} 
		a.tooltip span {
    		width:200px;z-index:10;display:none; padding:5px 20px;
    		margin-top:30px; transform: translate(-50%,0);
    		line-height:16px;background: #fff;
		}
		a.tooltip:hover span{
			display:inline; position:absolute; 
			border:2px solid #FFF;  color:#888;
		}
		.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}

		/*CSS3 extras*/
		a.tooltip span
		{
			border-radius:2px;        
			box-shadow: 0px 1px 8px 1px #999;
		}

		.wupin-longname{
			width:237px;
		}
	}
	tr:nth-child(2)>td>.wupin-box{
		height:280px;
		.wupin-content{
			height:61px;
		}
	}
	tr:nth-child(6)>td>.wupin-box{
		height:220px;
	}
}
.notices-title{
	font-size: 18px;
	color: #e51c23;
}
.notice-text{
	font-size: 14px;
	color:#000;
	margin-bottom: 70px;
}