$minwidth:1200px;
.footer{
	width:100%;
	min-width: $minwidth;
	height:36px;
	background: #fff;
	border-top:1px solid #e5e5e5;
	.footer-contain{
		width:1200px;
		margin:0 auto;
		height:36px;
		line-height: 36px;
		.footer-left{
			float:left;
		}
		.footer-right{
			float:right;
		}
	}
	*{
		font-size: 12px;
		color:#787878;
	}
}